[submodule "netstats_printer/RIOT"]
	path = netstats_printer/RIOT
	url = https://github.com/cgundogan/RIOT
[submodule "udp_counter/RIOT"]
	path = udp_counter/RIOT
	url = https://github.com/cgundogan/RIOT.git
[submodule "unreachability_time/RIOT"]
	path = unreachability_time/RIOT
	url = https://github.com/cgundogan/RIOT.git
[submodule "udp_pdr/RIOT"]
	path = udp_pdr/RIOT
	url = https://github.com/cgundogan/RIOT.git
